* {
    margin: 0;
    font-family: "Jost", sans-serif;
    outline: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

#result{
    text-align: center;
}

button{
    background-color: rgb(7, 45, 103);
    border: 0;
    border-radius: 10px;
    padding: 8px;
    color: white;
    width: 80px;
}

input{
    background-color: #ccc;
    border: 0;
    border-radius: 10px;
    padding: 8px;
    width: 80px;
    color: rgb(7, 45, 103);
    width: 150px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}